* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6vw;
    font-weight: 4vw;
    line-height: 1.5vw;
    background-color: #fff;
}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}

p {
    text-align: center;
    font-style: oblique;
    font-size: 1vw;

}

.btn {
    margin-top: 2rem;
    font-weight: 4vw;
    display: inline-block;
    border: 2px solid black;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .5s;
}


.clearfix {
    content: "";
    display: block;
    clear: both;
    overflow: auto;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    
    
}


.text-uppercase {
    text-transform: uppercase;
}

/*Navbar*/

nav {
    background-color: white;
    width: 100%;
    font-family: 'Caveat', cursive;

    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed !important; 
    transition: 2s;
    z-index: 1;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

}

#logo-box {
    
    width: 40%;
    float: left;
    
    text-align: justify;
    font-family: 'Caveat', cursive;

}



#logo-box .logo {
    color: black;
    font-weight: 700;
    font-size: 1.5vw;

}


#nav-links {
    float: right;
    width: 60%;
    text-align: center;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
    
}

#nav-links .nav-link {
    
    color: black;
    font-size: 1vw;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #1ABC9B;
}




@media (max-width:800px) {
    .icon-btn {
        display: none !important;
    }
}

[class^="icon-btn"]

/*.icon-btn*/
    {
    height: 45px;
    width: 45px;
    border: 0;
    cursor: pointer;
    font-size: 3vw;
    line-height: 45px;
    transition: ease-in-out .3s;
    border-radius: 30px;
    margin-left: 10px;
    background-color: #F7F7F7;
}


.instagram {
    color: #c32aa3;
}

.whatsapp {
    color: #ff0000;
}

.icon-btn:hover {
    transform: scale(1.10);
    color: #FFFFFF;
}


.instagram:hover {
    background-color: #c32aa3;
}

.whatsapp:hover {
    background-color: #ff0000;
}

a.link {
    color: inherit;
}




.hakkımızda {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    
    text-align: center;

    color: black;
}

.hizmet p{

  
   font-size: 150%;
   
   position:inherit;
   text-align: justify;

   color: black;
}
.yukarı {
    color: #212529;
    font-size: 2vw;
    text-align: center;
    justify-content: center;
    margin-left: 680px;
    padding-bottom: 30px
}

.loguydu {
    text-align: center;
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 10%;
    padding-bottom: 3%;

}


@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.melih{
    margin-top: 10%;
}

.telefon-ara-btn {
    color: white;
    background: #2c8a00;
    font-size: 1.5vw;
    padding: 3px 11px 3px;
    text-decoration: none;
    font-family: Nunito;
    border-radius: 5px;
    font-weight: 20vw;
    text-align: center;
    justify-content: center;

}

.telefon-ara-btn:hover {
    text-align: center;
    padding: 4px 12px 4px;
    transition: .5s;
    background: #35a800;
}

.call {
    
    text-align: center;
    justify-content: center;
}


.foto {
    margin-left: 20%;
    width: 15%;

}

.foto2 {
    margin-left: 1%;

    width: 15%;

}

.foto1 {


    margin-top: 2%;
    width: 15%;
}

.foto4 {
    margin-right: 15%;
    width: 15%;
}

#slider {
    margin-top: 10%;
    height: auto;

}

.mySlides {

    max-width: 100%;
    height: auto;
    text-align: center;
}


.montaj {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: auto;



}

img {
    max-width: 100%;

}

.cl{margin-top: 10%;
    margin-left: 20%;
}






@media(max-width:420px) {
    
    .kalk {
        display: none !important;
    }
    nav{
        margin: 0% !important;
        padding: 2% !important;
        width: 100% !important;
        height: 5% !important;
    }
    .montaj {
        width: 85% !important;
        margin-left: 7.5% !important;
        margin-right: 7.5% !important;
    }
    #logo-box {
        margin-left: 15% !important;
        width: 25% !important;
    }

    #nav-links {
        
        font-weight: 2vw !important;
    }
    .harita{
        width: 80% !important;
        height: auto !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
    .mySlides {
        max-width: 85% !important;
        margin-left: 7.5% !important;
        margin-right: 7.5 !important;
    }
    .hizmet p{
        font-size: 100% !important;
        text-align: center !important;
    }
    .hakkımızda{
        font-size: 100% !important;
        text-align: center !important;
    }
    
}