* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6vw;
    font-weight: 4vw;
    line-height: 1.5vw;
    background-color: #fff;
}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}

p {
    text-align: center;
    font-style: oblique;
    font-size: 1vw;

}

.btn {
    margin-top: 2rem;
    font-weight: 4vw;
    display: inline-block;
    border: 2px solid black;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .5s;
}


.clearfix {
    content: "";
    display: block;
    clear: both;
    overflow: auto;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;



}


.text-uppercase {
    text-transform: uppercase;
}





@media (max-width:800px) {
    .icon-btn {
        display: none !important;
    }
}

[class^="icon-btn"]

/*.icon-btn*/
    {
    height: 45px;
    width: 45px;
    border: 0;
    cursor: pointer;
    font-size: 3vw;
    line-height: 45px;
    transition: ease-in-out .3s;
    border-radius: 30px;
    margin-left: 10px;
    background-color: #F7F7F7;
}


.instagram {
    color: #c32aa3;
}

.whatsapp {
    color: #ff0000;
}

.icon-btn:hover {
    transform: scale(1.10);
    color: #FFFFFF;
}


.instagram:hover {
    background-color: #c32aa3;
}

.whatsapp:hover {
    background-color: #ff0000;
}

a.link {
    color: inherit;
}




.hakkımızda {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;

    text-align: center;

    color: black;
}

.hizmet p {


    font-size: 150%;

    position: inherit;
    text-align: justify;

    color: black;
}

.yukarı {
    color: #212529;
    font-size: 2vw;
    text-align: center;
    justify-content: center;
    margin-left: 680px;
    padding-bottom: 30px
}

.loguydu {
    text-align: center;
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 10%;
    padding-bottom: 3%;

}


@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.melih {
    margin-top: 5%;
}

.telefon-ara-btn {
    color: white;
    background: #2c8a00;
    font-size: 1.5vw;
    padding: 3px 11px 3px;
    text-decoration: none;
    font-family: Nunito;
    border-radius: 5px;
    font-weight: 20vw;
    text-align: center;
    justify-content: center;

}

.telefon-ara-btn:hover {
    text-align: center;
    padding: 4px 12px 4px;
    transition: .5s;
    background: #35a800;
}

.call {

    text-align: center;
    justify-content: center;
}


.foto {
    margin-left: 20%;
    width: 15%;

}

.foto2 {
    margin-left: 1%;

    width: 15%;

}

.foto1 {


    margin-top: 2%;
    width: 15%;
}

.foto4 {
    margin-right: 15%;
    width: 15%;
}

#slider {
    margin-top: 5%;
    height: auto;

}

.mySlides {

    max-width: 100%;
    height: auto;
    text-align: center;
}


.montaj {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: auto;



}

img {
    max-width: 100%;

}

.cl {
    margin-top: 5%;
    margin-left: 20%;
}






@media(max-width:1150px) {
    #slider {
        margin-top: 7% !important;

    }

    .melih {
        margin-top: 7%!important;
    }

    .cl {
        margin-top: 7%!important;
    }
}

@media(max-width:933px) {
    #slider {
        margin-top: 10% !important;

    }

    .melih {
        margin-top: 10%!important;
    }

    .cl {
        margin-top: 10%!important;
    }
}

@media(max-width:900px) {
    #slider {
        margin-top: 11% !important;

    }

    .melih {
        margin-top: 11%!important;
    }

    .cl {
        margin-top: 11%!important;
    }

}

@media(max-width:550px){
    #slider {
        margin-top: 12% !important;

    }

    .melih {
        margin-top: 12%!important;
    }

    .cl {
        margin-top: 12%!important;
    }
}

@media(max-width:500px){
    #slider {
        margin-top: 13% !important;

    }

    .melih {
        margin-top: 13%!important;
    }

    .cl {
        margin-top: 13%!important;
    }
}
@media(max-width:450px){
    #slider {
        margin-top: 14% !important;

    }

    .melih {
        margin-top: 14%!important;
    }

    .cl {
        margin-top: 14%!important;
    }
}

@media(max-width:420px) {
    #slider{
        margin-top: 15% !important;
    }

    .melih {
        margin-top: 15% !important;
        z-index: -1 !important;
    }

    .cl{
        margin-top: 15% !important;
    }

    .kalk {
        display: none !important;
    }

    .montaj {
        width: 85% !important;
        margin-left: 7.5% !important;
        margin-right: 7.5% !important;
    }

    .harita {
        width: 80% !important;
        height: auto !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .mySlides {
        max-width: 85% !important;
        margin-left: 7.5% !important;
        margin-right: 7.5% !important;
    }

    .hizmet p {
        font-size: 100% !important;
        text-align: center !important;
    }

    .hakkımızda {
        font-size: 100% !important;
        text-align: center !important;
    }
}
@media(max-width:390px){
    #slider {
        margin-top: 16% !important;

    }

    .melih {
        margin-top: 16%!important;
    }

    .cl {
        margin-top: 16%!important;
    }
}
@media(max-width:370px){
    #slider {
        margin-top: 17% !important;

    }

    .melih {
        margin-top: 17%!important;
    }

    .cl {
        margin-top: 17%!important;
    }
}
@media(max-width:350px){
    #slider {
        margin-top: 18% !important;

    }

    .melih {
        margin-top: 18%!important;
    }

    .cl {
        margin-top: 18%!important;
    }
}
@media(max-width:330px){
    #slider {
        margin-top: 19% !important;

    }

    .melih {
        margin-top: 19%!important;
    }

    .cl {
        margin-top: 19%!important;
    }
}